@namespace WiredBrainCoffee.Client.Components
@using WiredBrainCoffee.Models

<div class="order-wrapper">
    <div class="order-item">
        <span><strong>@MenuItem.Name</strong></span><span>@MenuItem.Price.ToString("C")</span>
    </div>
    <div><span class="remove-item" @onclick="(() => OnClickCallback.InvokeAsync(MenuItem))">Remove</span></div>
</div>

@code {
    [Parameter]
    public MenuItem MenuItem { get; set; }

    [Parameter]
    public EventCallback<MenuItem> OnClickCallback { get; set; }
}
