<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Wired Brain Coffee</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="order">Order</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="contact">Contact</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="admin">Admin</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>