@using Microsoft.AspNetCore.Components.Sections
@page "/Contact"
@rendermode InteractiveServer

<PageTitle>
    Contact Us
</PageTitle>

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ContactForm />
            </div>
            <div class="col-md-4">
                <ContactMailingList />
                <hr />
                <ContactInfo />
            </div>
        </div>
    </div>
</div>