@page "/Contact"
@using Microsoft.AspNetCore.Components.Sections
@rendermode InteractiveServer

<PageTitle>
    Contact Us
</PageTitle>

<SectionContent SectionName="FooterContact">
    Phone: 555-111-1111
</SectionContent>

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ContactForm />
            </div>
            <div class="col-md-4">
                <ContactMailingListForm />
                <hr />
                <ContactInfo />
            </div>
        </div>
    </div>
</div>