@using Microsoft.AspNetCore.Components.Forms

<p>Mailing list sign up</p>

<form method="post" action="/contact">
    <input type="text" name="email" />
    <button type="submit" class="btn btn-info float-end">Submit</button>
    <AntiforgeryToken />
</form>
@* 
@code{
    public MailingInfo Info { get; set; }

    public class MailingInfo 
    {
        public string Email { get; set; }
    }
} *@